In [124]:
import numpy as np
import pandas as pd

In [125]:
df = pd.read_excel('Week Two Input.xlsx')

In [126]:
df.head()

     City           Metric  Measure Value                 Date
0  London  Max Temperature  Celsius    13  2019-02-16 00:00:00
1  London  Min Temperature  Celsius     6  2019-02-16 00:00:00
2  Londen    Precipitation       mm     2  2019-02-16 00:00:00
3  London       Wind Speed      mph     7  2019-02-16 00:00:00
4  London  Max Temperature  Celsius    14  2019-02-17 00:00:00

In [127]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59 entries, 0 to 58
Data columns (total 5 columns):
City       57 non-null object
Metric     57 non-null object
Measure    57 non-null object
Value      57 non-null object
Date       57 non-null object
dtypes: object(5)
memory usage: 2.4+ KB

#### 1. Remove rows 28,29,30
#### 2. Recreate index

In [128]:
df.drop(df.index[28:31], axis=0, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 56 entries, 0 to 58
Data columns (total 5 columns):
City       56 non-null object
Metric     56 non-null object
Measure    56 non-null object
Value      56 non-null object
Date       56 non-null object
dtypes: object(5)
memory usage: 2.6+ KB

In [129]:
df.reset_index(drop=True, inplace=True)

#### Functions to clean London data

In [130]:
def change_london_1(x):
    if (x[0]=='L'):
        return x.replace('e','o').replace('0','o').replace('i','o')
    else:
        return(x)

In [131]:
def change_london_2(x):
    if ((len(x) == 6)&((x[0]!='L')|(x[0]!='l'))):
        return('London')
    elif (len(x)==7):
        return('London')
    else:
        return(x)

In [132]:
df['City'] = df['City'].apply(lambda x:change_london_1(x))

In [133]:
df['City'] = df['City'].apply(lambda x:change_london_2(x))

#### Functions to clean Edinburgh data

In [134]:
def change_edinb_1(x):
    if ((len(x)==9)&(x[0]!='E')):
        return('Edinburgh')
    else:
        return(x)

In [135]:
def change_edinb_2(x):
    if (x[0]=='E'):
        return x.replace('!','i').replace('e','i').replace('1','i').replace('o','u')
    else:
        return(x)

In [136]:
df['City']=df['City'].apply(lambda x:change_edinb_1(x))

In [137]:
df['City']=df['City'].apply(lambda x:change_edinb_2(x))

In [138]:
df['City'].value_counts()

Edinburgh    28
London       28
Name: City, dtype: int64

#### Change Date to DateTime

In [139]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 5 columns):
City       56 non-null object
Metric     56 non-null object
Measure    56 non-null object
Value      56 non-null object
Date       56 non-null object
dtypes: object(5)
memory usage: 2.3+ KB

In [140]:
df['Date']=pd.to_datetime(df['Date'], format='%Y-%m-%d')

In [141]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 5 columns):
City       56 non-null object
Metric     56 non-null object
Measure    56 non-null object
Value      56 non-null object
Date       56 non-null datetime64[ns]
dtypes: datetime64[ns](1), object(4)
memory usage: 2.3+ KB

#### Pivot the data frame & flatten it

In [142]:
df.head()

     City           Metric  Measure Value       Date
0  London  Max Temperature  Celsius    13 2019-02-16
1  London  Min Temperature  Celsius     6 2019-02-16
2  London    Precipitation       mm     2 2019-02-16
3  London       Wind Speed      mph     7 2019-02-16
4  London  Max Temperature  Celsius    14 2019-02-17

In [143]:
ans = pd.pivot_table(df, index=['City','Date'], 
           columns=['Metric','Measure'],
               values=['Value'],
               aggfunc=np.sum).reset_index()

In [149]:
ans

,City,Date,Wind Speed-mph,Max Temperature-Celsius,Min Temperature-Celsius,Precipitation-mm
0,Edinburgh,2019-02-16,13,11,8,4
1,Edinburgh,2019-02-17,17,12,6,9
2,Edinburgh,2019-02-18,20,9,5,11
3,Edinburgh,2019-02-19,13,9,7,14
4,Edinburgh,2019-02-20,13,11,8,18
5,Edinburgh,2019-02-21,11,13,8,8
6,Edinburgh,2019-02-22,12,13,9,8
7,London,2019-02-16,7,13,6,2
8,London,2019-02-17,12,14,9,0
9,London,2019-02-18,10,11,4,12
10,London,2019-02-19,11,12,8,4
11,London,2019-02-20,13,13,9,2
12,London,2019-02-21,8,15,8,2
13,London,2019-02-22,7,16,9,0

In [144]:
ans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 6 columns):
(City, , )                           14 non-null object
(Date, , )                           14 non-null datetime64[ns]
(Value, Max Temperature, Celsius)    14 non-null int64
(Value, Min Temperature, Celsius)    14 non-null int64
(Value, Precipitation, mm)           14 non-null int64
(Value, Wind Speed, mph)             14 non-null int64
dtypes: datetime64[ns](1), int64(4), object(1)
memory usage: 800.0+ bytes

#### Rename and rearrange columns

In [145]:
ans.columns = ['City','Date','Max Temperature-Celsius',
               'Min Temperature-Celsius',
               'Precipitation-mm','Wind Speed-mph']

In [147]:
ans = ans[['City','Date','Wind Speed-mph','Max Temperature-Celsius',
           'Min Temperature-Celsius','Precipitation-mm']]

### Final

In [148]:
ans

,City,Date,Wind Speed-mph,Max Temperature-Celsius,Min Temperature-Celsius,Precipitation-mm
0,Edinburgh,2019-02-16,13,11,8,4
1,Edinburgh,2019-02-17,17,12,6,9
2,Edinburgh,2019-02-18,20,9,5,11
3,Edinburgh,2019-02-19,13,9,7,14
4,Edinburgh,2019-02-20,13,11,8,18
5,Edinburgh,2019-02-21,11,13,8,8
6,Edinburgh,2019-02-22,12,13,9,8
7,London,2019-02-16,7,13,6,2
8,London,2019-02-17,12,14,9,0
9,London,2019-02-18,10,11,4,12
10,London,2019-02-19,11,12,8,4
11,London,2019-02-20,13,13,9,2
12,London,2019-02-21,8,15,8,2
13,London,2019-02-22,7,16,9,0